<ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Track" icon="ion-person" ui-sref="tab.home">
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Reporter list" icon="ion-bookmark" ui-sref="tab.reporter-list">
      <ion-nav-view name="tab-reporter-list"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Buddies" icon="ion-ios-people" ui-sref="tab.profile-list">
      <ion-nav-view name="tab-profile-list"></ion-nav-view>
    </ion-tab>
</ion-tabs> 