
    <!-- <ui-view></ui-view> -->
    
    <!-- <ion-header-bar class="bar-dark">
      <h1 class="title">NBS</h1>
    </ion-header-bar> -->
    <!-- <ion-content> -->
    <!-- <login-user></login-user> -->
    <!-- <h3 class="text-center" ng-show="!isLoggedIn">Sign in options</h3>
      <h3 class="text-center" ng-show="isLoggedIn">Logged in</h3>
      <p class="text-red">{{errorMessage}}</p>
      <div class="list" ng-show="!isLoggedIn">
        <form  name="signinForm" ng-submit="signInWithEmailAndPassword()">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="user.email" name="email">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password" name="password">
          </label>
          <input type="submit" ng-show="!isLoggedIn" class="button button-positive button-block" value="Sign In">
        </form>
      </div>

      <hr>

      <button ng-show="!isLoggedIn" class="button button-assertive button-block" ng-click="googleLogin()">
        login with google
      </button>

      <div class="list card" ng-if="isLoggedIn">
        <div class="item item-avatar">
          <img ng-src="{{result.photoURL}}">
          <h2>{{result.displayName}}</h2>
          <p>{{result.email}}</p>
        </div>
        <div class="item item-body">
          <button  class="button button-assertive button-block" ng-click="logout()">
            Logout
          </button>
        </div>
      </div>

      </div>

      </div> -->



  <ion-pane>

    <div id="profile">
      <div class="profile-header">
        <div class="profile-image">
          <div class="profile-overlay"></div>
          <img src="./img/profile3.jpg">
        </div>
      </div>
      <ion-content>
        <div class="content">
          <div class="inner">
            <h4>Micale Ziper</h4>
            <ion-icon name="contrast-outline"></ion-icon>
            <button
              class="button button-small button-outline  button-rank button-balanced button-rounded f-w-600 text-shadow-neon">
              <i class="icon ion-checkmark-circled"></i> PRO
            </button>
            <div class="viewsAndposts">
              <div><b>3M</b> <br> <span>Views</span></div>
              <div><b>1.2K</b> <br> <span>Likes</span></div>
              <div><b>230</b> <br> <span>Posts</span></div>
            </div>
            <div class="about">
              <h4>Myself</h4>
              <p>I am a phographer in <b>Himal Durpan</b> since <b>2002</b>. I just love to do this work. Since childhood i was
                interested in photo grapher. Now, i've been workin and teaching other people and contributing tons of
                photos of whild life <i>animals, Beautiful birds, Natural mountains</i> etc. </p>
            </div>
            <div class="followers">
              <div class="follower-header">
                <h4>followers</h5>
                  <h5> <a href="#" class="assertive"> See all</a></h5>
              </div>
              <ion-scroll direction="x" class="wide-as-needed">
                <div  class="slider-container">
                  <div class="slider-item"><img ng-src="./img//followers/1.jpg" /></div>
                  <div class="slider-item"><img ng-src="./img//followers/2.jpg" /></div>
                  <div class="slider-item"><img ng-src="./img//followers/3.jpg" /></div>
                  <div class="slider-item"><img ng-src="./img//followers/4.jpg" /></div>
                  <div class="slider-item"><img ng-src="./img//followers/5.jpg" /></div>
                  <div class="slider-item"><img ng-src="./img//followers/6.jpg" /></div>
                  <div class="slider-item"><img ng-src="./img//followers/7.jpg" /></div>
                </div>
              </ion-scroll>
            </div>
          </div>
  
        </div>  
      </ion-content> 
      </div>
  </ion-pane>