<ion-view title="Reporter Lists" class="reporter-list">
    <ion-content class="padding">
        <div class="list">
            <a class="item item-thumbnail-left card" href="#">
                <img src="../../img/followers/1.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>In aute labore magna ipsum anim quis reprehenderit. Anim commodo nostrud anim deserunt non nisi. Enim
                    non culpa non adipisicing aliquip anim. Enim dolor mollit non labore magna duis eiusmod sunt
                    incididunt nisi voluptate. Reprehenderit est officia do dolor cupidatat ut nostrud enim non fugiat
                    mollit</p>
                <p class="likes">
                    <b>4k <i class="icon ion-heart"></i>
                    </b>
                    <b>4k <i class="icon ion-person"></i>
                    </b>
                </p>
                <p class="text-right">
                    <button class="button button-small  button-outline   button-balanced">&nbsp;&nbsp; Follow&nbsp; &nbsp;</button>
                    <button class="button button-small  button-outline  button-stable">&nbsp;&nbsp; View More &nbsp; &nbsp;</button>
                </p>
            </a>
            <a class="item item-thumbnail-left card" href="#">
                <img src="../../img/followers/2.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>In aute labore magna ipsum anim quis reprehenderit. Anim commodo nostrud anim deserunt non nisi. Enim
                    non culpa non adipisicing aliquip anim. Enim dolor mollit non labore magna duis eiusmod sunt
                    incididunt nisi voluptate. Reprehenderit est officia do dolor cupidatat ut nostrud enim non fugiat
                    mollit</p>
                <p class="likes">
                    <b>4k <i class="icon ion-heart"></i>
                    </b>
                    <b>4k <i class="icon ion-person"></i>
                    </b>
                </p>
                <p class="text-right">
                    <button class="button button-small  button-outline   button-balanced">&nbsp;&nbsp; Follow&nbsp; &nbsp;</button>
                    <button class="button button-small  button-outline  button-stable">&nbsp;&nbsp; View More &nbsp; &nbsp;</button>
                </p>
            </a>
            <a class="item item-thumbnail-left card" href="#">
                <img src="../../img/followers/3.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>In aute labore magna ipsum anim quis reprehenderit. Anim commodo nostrud anim deserunt non nisi. Enim
                    non culpa non adipisicing aliquip anim. Enim dolor mollit non labore magna duis eiusmod sunt
                    incididunt nisi voluptate. Reprehenderit est officia do dolor cupidatat ut nostrud enim non fugiat
                    mollit</p>
                <p class="likes">
                    <b>4k <i class="icon ion-heart"></i>
                    </b>
                    <b>4k <i class="icon ion-person"></i>
                    </b>
                </p>
                <p class="text-right">
                    <button class="button button-small  button-outline   button-balanced">&nbsp;&nbsp; Follow&nbsp; &nbsp;</button>
                    <button class="button button-small  button-outline  button-stable">&nbsp;&nbsp; View More &nbsp; &nbsp;</button>
                </p>
            </a>
            <a class="item item-thumbnail-left card" href="#">
                <img src="../../img/followers/6.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>In aute labore magna ipsum anim quis reprehenderit. Anim commodo nostrud anim deserunt non nisi. Enim
                    non culpa non adipisicing aliquip anim. Enim dolor mollit non labore magna duis eiusmod sunt
                    incididunt nisi voluptate. Reprehenderit est officia do dolor cupidatat ut nostrud enim non fugiat
                    mollit</p>
                <p class="likes">
                    <b>4k <i class="icon ion-heart"></i>
                    </b>
                    <b>4k <i class="icon ion-person"></i>
                    </b>
                </p>
                <p class="text-right">
                    <button class="button button-small  button-outline   button-balanced">&nbsp;&nbsp; Follow&nbsp; &nbsp;</button>
                    <button class="button button-small  button-outline  button-stable">&nbsp;&nbsp; View More &nbsp; &nbsp;</button>
                </p>
            </a>
            <a class="item item-thumbnail-left card" href="#">
                <img src="../../img/followers/2.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>In aute labore magna ipsum anim quis reprehenderit. Anim commodo nostrud anim deserunt non nisi. Enim
                    non culpa non adipisicing aliquip anim. Enim dolor mollit non labore magna duis eiusmod sunt
                    incididunt nisi voluptate. Reprehenderit est officia do dolor cupidatat ut nostrud enim non fugiat
                    mollit</p>
                <p class="likes">
                    <b>4k <i class="icon ion-heart"></i>
                    </b>
                    <b>4k <i class="icon ion-person"></i>
                    </b>
                </p>
                <p class="text-right">
                    <button class="button button-small  button-outline   button-balanced">&nbsp;&nbsp; Follow&nbsp; &nbsp;</button>
                    <button class="button button-small  button-outline  button-stable">&nbsp;&nbsp; View More &nbsp; &nbsp;</button>
                </p>
            </a>
            <a class="item item-thumbnail-left card" href="#">
                <img src="../../img/followers/7.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>In aute labore magna ipsum anim quis reprehenderit. Anim commodo nostrud anim deserunt non nisi. Enim
                    non culpa non adipisicing aliquip anim. Enim dolor mollit non labore magna duis eiusmod sunt
                    incididunt nisi voluptate. Reprehenderit est officia do dolor cupidatat ut nostrud enim non fugiat
                    mollit</p>
                <p class="likes">
                    <b>4k <i class="icon ion-heart"></i>
                    </b>
                    <b>4k <i class="icon ion-person"></i>
                    </b>
                </p>
                <p class="text-right">
                    <button class="button button-small  button-outline   button-balanced">&nbsp;&nbsp; Follow&nbsp; &nbsp;</button>
                    <button class="button button-small  button-outline  button-stable">&nbsp;&nbsp; View More &nbsp; &nbsp;</button>
                </p>
            </a>
            <a class="item item-thumbnail-left card" href="#">
                <img src="../../img/followers/4.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>In aute labore magna ipsum anim quis reprehenderit. Anim commodo nostrud anim deserunt non nisi. Enim
                    non culpa non adipisicing aliquip anim. Enim dolor mollit non labore magna duis eiusmod sunt
                    incididunt nisi voluptate. Reprehenderit est officia do dolor cupidatat ut nostrud enim non fugiat
                    mollit</p>
                <p class="likes">
                    <b>4k <i class="icon ion-heart"></i>
                    </b>
                    <b>4k <i class="icon ion-person"></i>
                    </b>
                </p>
                <p class="text-right">
                    <button class="button button-small  button-outline   button-balanced">&nbsp;&nbsp; Follow&nbsp; &nbsp;</button>
                    <button class="button button-small  button-outline  button-stable">&nbsp;&nbsp; View More &nbsp; &nbsp;</button>
                </p>
            </a>
            <a class="item item-thumbnail-left card" href="#">
                <img src="../../img/followers/5.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>In aute labore magna ipsum anim quis reprehenderit. Anim commodo nostrud anim deserunt non nisi. Enim
                    non culpa non adipisicing aliquip anim. Enim dolor mollit non labore magna duis eiusmod sunt
                    incididunt nisi voluptate. Reprehenderit est officia do dolor cupidatat ut nostrud enim non fugiat
                    mollit</p>
                <p class="likes">
                    <b>4k <i class="icon ion-heart"></i>
                    </b>
                    <b>4k <i class="icon ion-person"></i>
                    </b>
                </p>
                <p class="text-right">
                    <button class="button button-small  button-outline   button-balanced">&nbsp;&nbsp; Follow&nbsp; &nbsp;</button>
                    <button class="button button-small  button-outline  button-stable">&nbsp;&nbsp; View More &nbsp; &nbsp;</button>
                </p>
            </a>

        </div>
        
    </ion-content>
</ion-view>