.reporter-list .item,
.reporter-list .list img{
    border-radius: 8px;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: auto;    
    height: 100%;
}
.reporter-list .item{
    border:0;
}
.reporter-list .card {
    margin:7px 10px;
}

.reporter-list .likes{
    text-align: center;
}