/* Empty. Add your own CSS if you like */
.text-red{
    color: red;
}

#profile .scroll-content{
    top: 30%;
    overflow: inherit;
}
#profile .scroll-content .scroll{
    background-color:#fff;
}
.profile-header{
    background-image: url("../img/profile3.jpg");
    background-size: cover;
}
#profile .profile-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(96, 125, 139, 0.47);
    bottom: 0;
    right: 0;
    top: 0;
}
#profile .profile-image{
    display: flex;
    justify-self: center;
    min-height: 150px;
    position: relative;
    flex-direction: column;
}
#profile .profile-image img{
    border-radius: 50%;
    position: absolute;
    align-self: center;
    bottom: -45px;
    border: 5px solid rgba(158, 158, 158, 0.25);
}

#profile .photo-section{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#profile .content{
    display: flex;
    justify-self: center;
    flex-direction: column;
}
#profile .content .inner{
    text-align: center;
}
/* #profile .content h4{
    width: 100%;
    text-align: center;
} */
#profile .name-block h3{
    font-size: 17px;
    margin: 0;
    font-weight: 700;
}
#profile .name-block p{
    font-weight: 700;
    color: #9E9E9E;
    margin-top: 2px;
}

#profile .viewsAndposts{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    padding-bottom: 0;
}
#profile .viewsAndposts b{
    font-size:25px;
    color: #4CAF50;
}
#profile .viewsAndposts span{
    color: #9E9E9E;
}

#profile .about{
    padding: 10px 20px;
    text-align: justify;
}
#profile .about h4{
    text-align: left;
}
/* Typography */

.f-w-600{
    font-weight: 600;
}

/* Buttons */
.button-rounded{
    border-radius: 30px;
}
.button-rank{
    padding: 0px 11px;
    line-height: 2;
    min-height: auto;
}

/* Text */
.text-shadow-neon{
    text-shadow: 0 0 0.5em rgba(51, 205, 95, 0.28), 0 0 0.5em rgba(51, 205, 95, 0.28), 0 0 0.5em rgba(51, 205, 95, 0.11);
}

.followers img{
    max-width: 110px;
    border-radius: 10px;
}
.followers .follower-header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.followers .follower-header h4,
.followers .follower-header h5{
    margin-top:0;
}
/* Horinzontal slider */
.scroll-view.scroll-x{
    overflow: hidden;
}
.scroll-view.scroll-x 
.slider-container,
.slider-item{
    display: inline-block;
    white-space: nowrap;
}